@use '../styles/abstracts/variables' as *;
@use '../styles/abstracts/mixins' as *;
@use '../styles/abstracts/breakpoints' as *;

:host {
  display: block;
  min-height: 100%;
}

main {
  min-height: 100vh;
}

.container {
  width: min(1400px, calc(100% - 48px));
  margin: 0 auto;
}

@media (max-width: 640px) {
  .container {
    width: min(100%, calc(100% - 24px));
  }
}
