@use '@angular/material' as mat;
@use 'styles/abstracts/variables' as *;
@use 'styles/abstracts/mixins' as *;
@use 'styles/abstracts/breakpoints' as *;
@use 'styles/base/reset';
@use 'styles/base/typography';
@use 'styles/theme/theme';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  background-color: var(--color-surface);
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  min-height: 100%;
  margin: 0;
  background: var(--color-surface);
  color: var(--color-text);
}

button,
.mat-mdc-button-base,
a[mat-button],
a[mat-flat-button],
a[mat-stroked-button],
a[mat-raised-button],
button[mat-button],
button[mat-flat-button],
button[mat-stroked-button],
button[mat-raised-button],
button[mat-icon-button] {
  border-radius: var(--radius-button) !important;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding-inline: 1rem;
}
